# WordPress Serverless Configuration
WP_URL=https://tu-proyecto.vercel.app
ADMIN_EMAIL=admin@example.com
ADMIN_USER=admin
WORDPRESS_DB_HOST=""
WORDPRESS_DB_NAME="wordpress"
WORDPRESS_DB_USER=""
WORDPRESS_DB_PASSWORD=""
VERCEL_ENV=production