# Configuración para NeonDB Serverless PostgreSQL
# Para usar esto, ve a https://neon.tech y crea una cuenta gratuita

NEON_HOST={postgresql}
NEON_PORT=5432
NEON_DB_NAME=vercel
NEON_USER={username}
NEON_PASSWORD={password}